//fonts
$mainFont: "Baskervville SC", serif;
$secFont: "Ysabeau SC", sans-serif;
$thirdFont: "Oswald", sans-serif;

//font sizes
$GG: 48px;
$G: 40px;
$M: 28px;
$P: 16px;
$PP: 12px;

//colors
$mainCol: #1A3636;
$mainColHov: #0e1d1d;
$secCol: #40534C;
$thirdCol: #677D6A;
$opCol: #D6BD98;
$textCol: #FFF;